*.pyc
*.DS_Store
local_settings.py
CA/index.txt
CA/serial
keeper
instances
keys
build/*
build-stamp
nova.egg-info
.nova-venv
.vagrant
.nemesis-venv
*.noseids
*.idea
nova-objectstore.pid
*.log
experiments.py
.vagrant
nova*.conf
v.sh
.bzr*
/CA*
/nova/CA/crl.pem
vagrantup.Dummy*
contrib/images
contrib/tty.tgz
*.sqlite
vagrantup.*
.apitoken
integration/.noseids
*.vim
.*swp
.gitignore
host.Dummy*
integration/vagrant/report/*