*.pyc
*.DS_Store
local_settings.py
CA/index.txt
CA/serial
keeper
instances
keys
build/*
build-stamp
nova.egg-info
.nova-venv
.vagrant
.nemesis-venv
*.noseids
*.idea
nova-objectstore.pid
*.log
experiments.py
nova*.conf
v.sh
.bzr*
/CA*
/nova/CA/crl.pem
vagrantup.Dummy*
contrib/images
contrib/tty.tgz
*.sqlite
vagrantup.*
.apitoken
integration/.noseids
*.vim
.*swp
.gitignore
host.Dummy*
integration/vagrant/report/*
.venv
nova/api/openstack/faults.py
nova/api/openstack/servers.py
nova/api/openstack/views/servers.py
nova/api/openstack/wsgi.py
nova/compute/api.py
nova/compute/manager.py
nova/db/sqlalchemy/api.py
nova/db/sqlalchemy/models.py
nova/utils.py
apidocs/target
covhtml
