*.pyc
*.DS_Store
local_settings.py
CA/index.txt
CA/serial
keeper
instances
keys
build/*
build-stamp
nova.egg-info
.nova-venv
.vagrant
.nemesis-venv
*.noseids
*.idea
nova-objectstore.pid
twistd.log
experiments.py
.vagrant
n.log
nova*.conf
glance.log
v.sh
nova.log
.bzr*
/CA*
/nova/CA/crl.pem
vagrantup.Dummy*
contrib/images
contrib/tty.tgz
*.sqlite
vagrantup.*
.apitoken